:root{
  --bold: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  --semi-bold: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  --light: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;

  --black: #333;
  --grey: #757575;
  --white: #FFF;

  --green: #5FB2A8;
  --pink: #E1AE9E;
  --yellow: #DFAE36;
  --brown: #BC8E5B;
  --red: #CA4544;
  --blue: #4158D0;

  --whitespace-xs: 0.5rem;
  --whitespace-sm: 1rem;
  --whitespace-md: 1.5rem;
  --whitespace-lg: 2rem;
  --whitespace-xl: 4rem;
  --whitespace-xxl: 6rem;

  --border-radius: 4px;
  --shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

Body{
  font-family: var(--light);
  color: var(--black);
}

h1{
  font-size: 1.125rem;
}

h2{
  font-family: var(--bold);
  font-size: 5rem;
  font-weight: 550;
  margin-bottom: var(--whitespace-xs);
}

h3{
  color: var(--grey);
  font-size: 2.25rem;
  margin-bottom: var(--whitespace-sm);
}

p, li{
  font-size: 1.125rem;
  margin-bottom: var(--whitespace-xs);
}

.whitespace{
  max-width: 1140px;
  margin: 0 auto;
}

.section-dark{
  background-color: #fafafa;
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}

.section-light{
  background-color: transparent;
  border-top: #FFF solid 1px;
}

a{
  cursor: pointer;
}

.underline{
  text-decoration: underline;
}

header{
  background-color: #111;
  position: fixed;
  width: 100vw;
}

.nav-bar{
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.links{
  display: flex;
  gap: var(--whitespace-lg);
}

.landing-page-section{
  height: 80vh;
}

.landing-page{
  display: flex;
  justify-content: space-between;
  background-image: url("./images/website-frontpage.png");
  background-size: cover;
  height: 100%;
  margin-top: 5rem;
}

.landing-page-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 300px; */
}

.landing-page-text h2{
  font-size: 5rem;
}

.landing-page-text h3{
  font-size: 1.125rem;
}

.designer h2{
  color: var(--green);
}

.coder h2{
  color: var(--blue);
}

.what-i-offer{
  padding: var(--whitespace-xxl) 0;
}

.what-i-offer-lists{
  display: flex;
}

.lists li{
  list-style-type: none;
}

.part-coder{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;
}

.part-designer{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about{
  display: flex;
  padding-top: var(--whitespace-xxl);
}

.about-text{
  width: 50%;
}

.skills{
  padding: var(--whitespace-xxl) 0;
}

.tools{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
  column-gap: 6rem;
}
.tool{
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  border: 5px solid var(--white);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool p{
  color: var(--white);
  border-radius: var(--border-radius);
  margin: 0;
  padding: 1rem 2rem;
  height: 4rem;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html{
  background-color: #f06529;
}

.css{
  background-color: #2965f1;
}

.js{
  background-color: var(--yellow);
}

.react{
  background-color: #61dbfb;
}

.vue{
  background-color: #42b883;
}

.wp{
  background-color: #00749c;
}

.xd{
  background-color: #440434;
}

.github{
  background-color: var(--pink);
}

.source-code{
  padding: var(--whitespace-xxl) 0;
}

.resume{
  padding: var(--whitespace-xxl) 0;
}

.download-cv{
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: var(--border-radius);
  background-color: var(--black);
  box-shadow: var(--shadow);
  transition: 0.3s;
  cursor: pointer;
}

.download-cv:hover{
  background-color: var(--grey);
  transition: 0.3s
}

.contact{
  padding-top: var(--whitespace-xxl);
  display: flex;
}

.contact-text{
  width: 50%;
}

.contact-icons{
  display: flex;
  gap: 2rem;
}

.contact-icon a{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon-circle{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.linkedin-bg-color{
  background-color: var(--blue);
}

.phone-bg-color{
  background-color: var(--green);
}

.email-bg-color{
  background-color: var(--pink);
}

footer{
  padding: 1.5rem 0;
}